<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html> <!--<![endif]-->
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="description" content="Bingo One page parallax responsive HTML Template ">
	  
	  <meta name="author" content="Themefisher.com">

	  <title>{{ website_name }} {{ menu_name }}</title>
	  
	  {% load static %}

	<!-- Mobile Specific Meta
	  ================================================== -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  
	  <!-- Favicon -->
	  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	  
	  <!-- CSS
	  ================================================== -->
	  <!-- Themefisher Icon font -->
	  <link rel="stylesheet" href="{% static 'plugins/themefisher-font/style.css' %}">
	  <!-- bootstrap.min css -->
	  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
	  <!-- Lightbox.min css -->
	  <link rel="stylesheet" href="{% static 'plugins/lightbox2/dist/css/lightbox.min.css' %}">
	  <!-- animation css -->
	  <link rel="stylesheet" href="{% static 'plugins/animate/animate.css' %}">
	  <!-- Slick Carousel -->
	  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
	  <!-- Main Stylesheet -->
	  <link rel="stylesheet" href="{% static 'css/style.css' %}">  

	</head>

	<body id="body">
	
<!--
  Start Preloader
  ==================================== -->
	  <div id="preloader">
		<div class='preloader'>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
	  </div> 
	  <!--
	  End Preloader
	  ==================================== -->




	<!--
	Fixed Navigation
	==================================== -->
	<header class="navigation fixed-top">
	  <div class="container">
		<!-- main nav -->
		<nav class="navbar navbar-expand-lg navbar-light">
		  <!-- logo -->
		  <a class="navbar-brand logo" href="/">	
			<img class="logo-default" height = "50px" src="{% static 'website/images/logo.png' %}" alt="logo"/>
			<img class="logo-white" height = "50px" src="{% static 'website/images/logo-white.png' %}" alt="logo"/>
		  </a>
		  <!-- /logo -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
			aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav ml-auto text-center">
			
			  <li class="nav-item">
				<a class="nav-link" href="/"  role="button">
				  Home
				</a>				
			  </li>
			  <li class="nav-item ">
				<a class="nav-link" href="about_us">About Us</a>
			  </li>
			  
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				  aria-haspopup="true" aria-expanded="false">
				  Courses
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				
				  {% for category_list in categorylist %}
					  <a class="dropdown-item" href="{% url 'course_basic' %}">{{ category_list.category_name }}</a>
				  {% endfor %}
				  
				
				 
				</div>
			  </li>
			  			 
			  <li class="nav-item ">
				<a class="nav-link" href="contact">Contact</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				  aria-haspopup="true" aria-expanded="false">
				 My Account
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				
				  <a class="dropdown-item" href="login">Login</a>
				  <a class="dropdown-item" href="register">Register</a>
				  
				</div>
			  </li>
			</ul>
		  </div>
		</nav>
		<!-- /main nav -->
	  </div>
	</header>
	<!--
	End Fixed Navigation
	==================================== -->
	
	{% block body %}	
	{% endblock %}
	
		
	<footer id="footer" class="bg-one">
	  <div class="top-footer">
		<div class="container">
		  <div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3">
			  <h3>about</h3>
			  <p>Integer posuere erat a ante venenati dapibus posuere velit aliquet. Fusce dapibus, tellus cursus commodo, tortor mauris sed posuere.</p>
			</div>
			<!-- End of .col-sm-3 -->

			<div class="col-sm-3 col-md-3 col-lg-3">
			  <ul>
				<li><h3>Our Services</h3></li>
				<li><a href="#">Driving Lessons from Basic to Advanced</a></li>
				<li><a href="#">Engine Maintenance Lesson</a></li>
				<li><a href="#">Car Maintenance Lesson</a></li>
			  </ul>
			</div>
			<!-- End of .col-sm-3 -->

			<div class="col-sm-3 col-md-3 col-lg-3">
			  <ul>
				<li><h3>Quick Links</h3></li>
				<li><a href="#">Partners</a></li>
				<li><a href="about_us">About</a></li>
				<li><a href="#">FAQ’s</a></li>
				<li><a href="#">Courses</a></li>
			  </ul>
			</div>
			<!-- End of .col-sm-3 -->

			<div class="col-sm-3 col-md-3 col-lg-3">
			  <ul>
				<li><h3>Connect with us Socially</h3></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Youtube</a></li>
				<li><a href="#">Pinterest</a></li>
			  </ul>
			</div>
			<!-- End of .col-sm-3 -->

		  </div>
		</div> <!-- end container -->
	  </div>
	  <div class="footer-bottom">
		<h5>(c) 2021</h5>
		<h6>Design and Developed by <a href="">Adachii</a></h6>
			
	  </div>
	</footer> <!-- end footer -->


	 
		<!-- Main jQuery -->
		<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
		<!-- Google Map -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
		<script  src="{% static 'plugins/google-map/gmap.js' %}"></script>

		<!-- Form Validation -->
		<script src="{% static 'plugins/form-validation/jquery.form.js' %}"></script> 
		<script src="{% static 'plugins/form-validation/jquery.validate.min.js' %}"></script>

		<!-- Bootstrap4 -->
		<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Parallax -->
		<script src="{% static 'plugins/parallax/jquery.parallax-1.1.3.js' %}"></script>
		<!-- lightbox -->
		<script src="{% static 'plugins/lightbox2/dist/js/lightbox.min.js' %}"></script>
		<!-- Owl Carousel -->
		<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
		<!-- filter -->
		<script src="{% static 'plugins/filterizr/jquery.filterizr.min.js' %}"></script>
		<!-- Smooth Scroll js -->
		<script src="{% static 'plugins/smooth-scroll/smooth-scroll.min.js' %}"></script>

		<!-- Custom js -->
		<script src="{% static 'js/script.js' %}"></script>
		
		<input type = "hidden" name = "csrf_token" id = "csrf_token_id" value = "{% csrf_token %}"/>
		
		<script type = "text/javascript">
		
		
		
		$(document).ready(function(){
		
			var payment_method = '';
			var payment_term = '';
		
			$('.payment-method').on('click',function(){
			
				payment_method = $(this).attr('rel');	
				payment_method_display_value = $(this).attr('display-value');							
				$('.payment-method').css("border","none");
				
				$(this).css("border","solid 5px #e7e1e1");				
				$('#payment_method').val(payment_method);
				
				$('.payment_method_content').html('<small class = "badge badge-success"> Selected: '+payment_method_display_value+'</span>');
			});
			
			$('.payment-term').on('click',function(){
			
				payment_term = $(this).attr('rel');				
				payment_term_display_value = $(this).attr('display-value');				
				$('.payment-term').css("border","none");				
				
				$(this).css("border","solid 5px #e7e1e1");
				$('#payment_term').val(payment_term);				
				
				$('.payment_term_content').html('<small class = "badge badge-success"> Selected: '+payment_term_display_value+'</span>');
				
			});
			
						
			
			$('.selected-category').on('change',function(){
				category_value = $('.selected-category option:selected').html();				
				category_id = $('.selected-category option:selected').val();
				
				
				$.get('get_course_ids_from_category',{'category_id':category_id},function(s){
					
				});	
				
				$('.selected_category_content').html('<small class = "badge badge-success"> Selected: '+category_value+'</span>');
				
			});
			
			$('.preferred-course').on('change',function(){
				
				amount = $('.preferred-course option:selected').attr('rel');
				$('#tuition_fee').val(amount);
				course_value = $('.preferred-course option:selected').html();

				
				
				$('.preferred_course_content').html('<small class = "badge badge-success"> '+course_value+'</span>');
				
			});
			
			$('.btn-test').on('click',function(){
									
				var p_term = $('#payment_term').val();
				var p_method = $('#payment_method').val();
				
				alert('Payment Term: '+p_term+' Payment Method: '+p_method+'');
			
			});
			
			
			
		});
	</script>

	</body>

</html>
