
{% extends 'website/base.html' %}
{% block body %}
{% load static %}

<section class="single-page-header" style="background-image: url({% static 'images/slider/slider-bg-3.jpg' %});">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Login</h2>
				<h5><small>Home / Login</small></h5>
			</div>
		</div>
	</div>
</section>


	<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="col-12">
				<div class="title text-center">
					<h2>We Are Cruiser Driving School!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam reprehenderit accusamus labore iusto,
						aut, eum itaque illo totam tempora eius.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->

			<div class="col-md-6">
				<img src="{% static 'images/about/about-2.png' %}" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				
				{% for message in messages %}
					<h4 class = "alert alert-{{ message.tags }} alert-dismissible fade show" role = "alert">
						<strong> {{ message }} </strong>
						<button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
							<span aria-hidden = "true"> &times; </span>
						</button>
					</h4>
				{% endfor %}
				
				<form method = "POST" action = "login" autocomplete = "off">
				{% csrf_token %}
					<div class = "form-group">
						<label id = "login">Username</label>
						<input type = "text" class = "form-control" name = "username" placeholder = "Username or Email Address"/>
					</div>
					<div class = "form-group">
						<label id = "login">Password</label>
						<input type = "password" class = "form-control" name = "password" placeholder = "Password"/>
					</div>
												
					<div class = "container-fluid">
						<div class = "row">
							<div class = "col-md-6">
								<a href = "register">Register as Student</a>
							</div>
							<div class = "col-md-6">
								<a href = "" class = "float-right">Forgot Password?</a>
							</div>
						</div>
					</div>
						
					
					<button type = "submit" class="btn btn-main mt-20 float-right">Submit</button>
				</form>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->



	<!-- Start Pricing section
		=========================================== -->
		
<section class="pricing-table " id="pricing">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="col-12">
				<div class="title title-white text-center ">
					<h2>Our Featured Courses</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium soluta deserunt eaque, est, quia hic
						odit sed incidunt officiis quidem.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->

			<!-- single pricing table -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="pricing-item">

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Basic</h3>
						<strong class="value">P15,000 </strong>
						<p>Perfect for single freelancers who work by themselves</p>
					</div>
					<!-- /plan name & value -->

					<!-- plan description -->
					<ul>
						<li><i class="tf-ion-ios-arrow-forward"></i> Driving Routes</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> How to Drive as a Friend</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> How to negotiate with MMDA and LTFRB</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Road Signs</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Basic Drifting</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Basic Engine Assembly</li>
					</ul>
					<!-- /plan description -->

					<!-- signup button -->
					<a class="btn btn-main" href="#">Signup</a>
					<!-- /signup button -->

				</div>
			</div>
			<!-- end single pricing table -->

			<!-- single pricing table -->
			<div class="col-md-4 col-sm-6 col-xs-12  ">
				<div class="pricing-item">

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Standard</h3>
						<strong class="value">P25,000</strong>
						<p>Suitable for small businesses with up to 5 employees</p>
					</div>
					<!-- /plan name & value -->

					<!-- plan description -->
					<ul>
						<li><i class="tf-ion-ios-arrow-forward"></i> Driving Principles</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Do's and Don'ts in Driving</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Manual and Automatic Engine</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Basic to Advanced Drifting</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> How to unlock clamps</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> How to make an emergency ride</li>
					</ul>
					<!-- /plan description -->

					<!-- signup button -->
					<a class="btn btn-main" href="#">Signup</a>
					<!-- /signup button -->

				</div>
			</div>
			<!-- end single pricing table -->

			<!-- single pricing table -->
			<div class="col-md-4 col-sm-6 col-xs-12 ">
				<div class="pricing-item">

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Advanced</h3>
						<strong class="value">P50,000</strong>
						<p>Great for large businesses with more than 5 employees</p>
					</div>
					<!-- /plan name & value -->

					<!-- plan description -->
					<ul>
						<li><i class="tf-ion-ios-arrow-forward"></i> Advanced Drifting</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Upgrading your own Engine</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> How to convert your car from Manual to Automatic</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Spray Paint</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Self Driving</li>
						<li><i class="tf-ion-ios-arrow-forward"></i> Overhauling Engine</li>
					</ul>
					<!-- /plan description -->

					<!-- signup button -->
					<a class="btn btn-main" href="#">Signup</a>
					<!-- /signup button -->

				</div>
			</div>
			<!-- end single pricing table -->


		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->

{% endblock %}

