
				{% extends 'admin_page/base.html' %}
				{% block body %}
				{% load static %}
				{% load admin_templatetags %}
				
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                      <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><span class = "font-weight-bold">Appointments</span> 
						
						<p class="mb-4">
							<small>List of Appointments</small>
						</p>
					
						</h1>
						
                        <a href="schedule_types" class="d-none d-sm-inline-block btn btn-lg btn-outline-danger shadow-sm">
							<i class="fas fa-calendar fa-sm text-danger-900"></i> Schedule Types
						</a>
						
                    </div>
					
					  		
					
				
					{% for message in messages %}
						<h4 class = "alert alert-success alert-dismissible fade show" role = "alert">
							<strong> {{ message }} </strong>
							<button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
								<span aria-hidden = "true"> &times; </span>
							</button>
						</h4>
					{% endfor %}


					<div class = "modal fade in" id = "modal-add-appointment">
						<div class = "modal-dialog">
							<div class = "modal-content">
								<div class = "modal-header">
									<h2 class = "text-uppercase font-weight-bold"> Add New Appointment </h2>
								</div>
								<div class = "modal-body">
									<form method = "POST" action  = "add_appointment">
										{% csrf_token %}
										
										<input type = "hidden" name = "admin_id" value = "{{ user_id }}"/>
										
										<div class = "form-group">
											<label for = "label">Batch Appointment Code</label>
											<input type = "text" id = "label" class = "form-control" placeholder = "Think of a unique Batch Code" name = "batch_appointment_code"/>
										</div>
										
										<div class = "form-group">
											<label for = "label">Batch Appointment Name</label>
											<input type = "text" id = "label" class = "form-control" placeholder = "Think of a unique Batch Name" name = "batch_appointment_name"/>
										</div>
										
										<div class = "form-group">
											<label for = "label">Schedule Type</label>	
											<select name = "schedule_type_id" class = "form-control">
												<option value = ""> -- Choose Schedule Type  -- </option>
												
												{% for stl in scheduled_type_list %}
												
														<option value = "{{ stl.id }}">{{ stl.schedules }} = {{ stl.hours_per_day }} hour(s) per day</option>
												
												{% endfor %}
												
											</select>
										</div>	
										
										<div class = "form-group">																		
											<button class = "btn btn-success" type = "submit" role = "button">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					{% appointment_list_no_display_note instructor_list scheduled_type_list %}
			
                    <!-- DataTables Appointment -->
                    <div class="card shadow mb-4 {% show_appointment_list instructor_list scheduled_type_list %}">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-inverse text-gray-700">
							
							Session/Batch
							
							<a href="#" class="d-none d-sm-inline-block btn btn-lg btn-danger float-right shadow-sm" data-toggle = "modal" data-target = "#modal-add-appointment">
								<i class="fas fa-plus fa-sm text-white-50"></i> Add Appointment
							</a>
							
							</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Batch</th>                                           
                                            <th>Schedule Type</th>
                                            <th>Hours Per Day</th>
                                            <th>No. of Enrolled</th>
                                            <th>Instructor</th>                                          
                                            <th>Options</th>
                                        </tr>
                                    </thead>                                
									
                                    <tbody>                                     
										
										{% for al in appointment_list %}
										
											<tr>
												<td>{{ forloop.counter }}</td>
												
												<td>
												
												<span class = "text-gray-900 font-weight-bold">{{ al.batch_appointment_code }}</span> |
												{{ al.batch_appointment_name }}
												
												</td>
												
												<td>												
													{% get_schedule_type al.schedule_type scheduled_type_list %}
												</td>
												<td>{% get_hours_per_day_schedule al.schedule_type scheduled_type_list %}</td> 
												<td>{% number_of_enrolled al.id enrolment_list appointment_list attendance_list %}</td>
												<td>{% get_fullname al.instructor_id userlist %}</td>                                           
												<td>
												
													<button type = "button" class = "btn btn-success btn-sm" data-toggle = "modal" data-target = "#modal-edit-appointment-{{ al.id }}">Edit</button>
													<button type = "button" class = "btn btn-outline-success btn-sm get-appointment-id" rel = "{{ al.id }}" data-toggle = "modal" data-target = "#modal-add-timeschedule-{{ al.id }}">Add Time Schedule</button>
													<button type = "button" class = "btn btn-outline-success btn-sm" rel = "{{ al.id }}" data-toggle = "modal" data-target = "#modal-view-timeschedule-{{ al.id }}"><i class = "fa fa-calendar"></i></button>
													
													<div class = "modal fade in" id = "modal-add-timeschedule-{{ al.id }}">
														<div class = "modal-dialog">
															<div class = "modal-content">
																<div class = "modal-header">
																	<h5 class = "modal-title">
																		<strong class = "text-gray-900">Add Time Schedule</strong>
																		<a class = "close" role = "button" data-dismiss = "modal"><span aria-hidden = "true">&times;</span></a>
																	</h5>
																</div> <!-- modal-header -->
																<div class = "modal-body">
																
																	<form method = "POST" action = "add_timeschedule_appointment">
																	
																		{% csrf_token %}
																		
																		
																		<div class = "form-group">
																			<label for = "label-instructor" class = "text-gray-900">Instructor</label>
																			<select name = "instructor_id" id = "label-instructor" class = "form-control">
																				<option value = ""> -- Choose Instructor -- </option>
																				{% for ins in instructor_list %}
																					<option value = "{{ ins.id }}"> {{ ins.fullname }} </option>
																				{% endfor %}
																			</select>
																		</div> <!-- /. Instructor -->																		
																		
																		<div class = "form-group">
																			<label for = "label-course" class = "text-gray-900">Course</label>
																			<select name = "course_id" id = "label-course" class = "form-control">
																				<option value = ""> -- Choose Course -- </option>
																				{% for crs in course_list %}
																					<option value = "{{ crs.id }}"> {{ crs.course_name }} | {{ crs.course_description }} </option>
																				{% endfor %}
																			</select>
																		</div> <!-- /. Course -->
																		
																		<div class = "form-group">
																			<label for = "label-room" class = "text-gray-900">Room</label>
																			<select name = "room_id" id = "label-room" class = "form-control">
																				<option value = ""> -- Choose Room -- </option>
																				{% for rl in rooms_list %}
																					<option value = "{{ rl.id }}"> {{ rl.room_no }} |  {{ rl.room_name }} | {{ rl.floor }} | {{ rl.building }} </option>
																				{% endfor %}
																			</select>
																		</div> <!-- /. Room -->
																		
																		<div class = "form-group">
																		
																			<label for = "label-scheduled-day" class = "text-gray-900">Hours Per Day</label>																			
																			<input type = "hidden" name = "hours_per_day" value = "{% get_hours_per_day_schedule al.schedule_type scheduled_type_list %}"/>
																	
																			<h5>
																				{% get_hours_per_day_schedule al.schedule_type scheduled_type_list %} hour(s)
																			</h5>
																			
																		</div> <!-- /. Hours Per Day -->
																		
																		<div class = "form-group">
																			<label for = "label-scheduled-day" class = "text-gray-900">Scheduled Day</label>																			
																			<input type = "hidden" class = "appointment_id_{{ al.id }}" rel = "{{ al.id }}" value = "{% get_schedule_type al.schedule_type scheduled_type_list %}"/>
																			
																			<div class = "scheduled_day_choice_{{ al.id }}">
																			
																			</div>
																			
																		</div> <!-- /. Scheduled Day -->
																		
																		<div class = "form-group">
																		
																			<label for = "label-time-slot" class = "text-gray-900">Time Start</label>								
																			<input type = "time" id = "label-time-slot" name = "time_start" class = "form-control"/>
																		
																		</div> <!-- /. Time Start -->
																		
																		<div class = "form-group">
																		
																			<label for = "label-time-slot" class = "text-gray-900">Time End</label>								
																			<input type = "time" id = "label-time-slot" name = "time_end" class = "form-control"/>
																			
																		</div> <!-- /. Time End -->
																		
																		<input type = "hidden" name = "appointment_id" value = "{{ al.id }}"/>
																	
																	</div> <!-- modal-body -->
																	
																	<div class = "modal-footer">
																	
																		<button type = "submit" class = "btn btn-success">Submit</button>
																		<button type = "button" class = "btn btn-outline-success" data-dismiss = "modal">Cancel</button>
																	
																	</div>
																
																</form>
																
															</div> <!-- modal-content -->
														</div> <!-- modal-dialog -->
													</div> <!-- modal fade in modal-add-timeschedule-{{ al.id }} -->
													
													<div class = "modal fade in" id = "modal-view-timeschedule-{{ al.id }}">
														<div class = "modal-dialog">
															<div class = "modal-content">
																<div class = "modal-header">
																	<h5 class = "modal-title">
																		<strong class = "text-gray-900">{{ al.batch_appointment_code }} | {{ al.batch_appointment_name }}</strong> Schedule
																		<a class = "close" role = "button" data-dismiss = "modal"><span aria-hidden = "true">&times;</span></a>
																	</h5>
																</div> <!-- modal-header -->
																<div class = "modal-body">
																
																	
																	<div class = "form-group">
																		
																		<label class = "text-gray-900">Hours Per Day</label>																			
																	
																		<h5>
																			{% get_hours_per_day_schedule al.schedule_type scheduled_type_list %} hour(s)
																		</h5>
																			
																	</div> <!-- /. Hours Per Day -->
																		
																	<div class = "table-responsive">
																		<table class = "table table-bordered" cellspacing = "0" width = "100%">
																			<thead>
																				<th>#</th>
																				<th>Course</th>
																				<th>Day</th>
																				<th>Time Slot</th>
																				<th>Room</th>
																				<th>Instructor</th>
																			</thead>
																			<tbody>
																			
																				{% for tsl in timeschedule_list %}
																					{% ifequal tsl.appointment_id|stringformat:"s" al.id|stringformat:"s" %}																					
																						
																						<tr>
																							<td>{{ forloop.counter }}</td>
																							<td><small>{% get_course_details tsl.course_id course_list %}</small></td>
																							<td>{{ tsl.scheduled_day }}</td>																							
																							<td>{{ tsl.time_start }} - {{ tsl.time_end }}</td>
																							<td><small>{% get_room_details tsl.room_id rooms_list %}</small></td>
																							<td>{% get_fullname tsl.instructor_id userlist %}</td>
																						</tr>
																						
																					{% endifequal %}
																				{% endfor %}
																				
																				
																			</tbody>
																		</table>
																	</div> <!-- table-responsive time schedule -->
																	
																</div> <!-- modal-body -->
																	
																<div class = "modal-footer">
																
																
																	<button type = "button" class = "btn btn-outline-success" data-dismiss = "modal">Close</button>
																
																</div> <!-- modal-footer -->										
															
																
															</div> <!-- modal-content -->
														</div> <!-- modal-dialog -->
													</div> <!-- modal fade in modal-view-timeschedule-{{ al.id }} -->
												
												</td>
											</tr>
											
										{% endfor %}
                                        
                                    </tbody> <!-- /. tbody Appointment -->
                                </table> <!-- /. table-bordered Appointment -->
                            </div> <!-- /. table-responsive Appointment -->
                        </div> <!-- /. card-body Appointment -->
                    </div> <!-- /. DataTables Appointment -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% endblock %}