
				{% extends 'admin_page/base.html' %}
				{% block body %}
				{% load static %}
				{% load admin_templatetags %}
				{% load humanize %}
				
                <!-- Begin Page Content -->
                <div class="container-fluid">

                      <!-- Page Heading -->
                     <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><span class = "font-weight-bold">Lessons</span> 
						
						<p class="mb-4">
							<small>Detailed List of Lessons</small>
						</p>				
					
						</h1>						
                        <a href="skills_assessments" class="d-none d-sm-inline-block btn btn-lg btn-outline-danger shadow-sm">
							<i class="fas fa-arrow-left fa-sm text-danger-900"></i> Back to Skills Assessments
						</a>
						
                    </div>
					
						
						{% for message in messages %}
							<h4 class = "alert alert-success alert-dismissible fade show" role = "alert">
								<strong> {{ message }} </strong>
								<button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
									<span aria-hidden = "true"> &times; </span>
								</button>
							</h4>
						{% endfor %}
					
					<div class = "modal fade in" id = "modal-add-lesson">
						<div class = "modal-dialog">
							<div class = "modal-content">
								<div class = "modal-header">
									<h4 class = "modal-title">Add Lesson</h4>
								</div>
								<div class = "modal-body">
									<form method = "POST" action = "add_lesson">
										{% csrf_token %}
										<div class = "form-group">
											<label for = "course_id">Course</label>
											<select id = "course_id" name = "course_id" class = "form-control">
												<option value = ""> -- Select Course for Specific Lesson -- </option>
												{% for crs in courselist %}
													<option value = "{{ crs.id }}"> {{ crs.course_code }} | {{ crs.course_name }} </option>
												{% endfor %}
											</select>
										</div>
										<div class = "form-group">
											<label for = "label">Number of Lessons</label>
											<input type = "number" min = "1" id = "label" name = "number_of_lessons" class = "form-control">
										</div>
										
										<div class = "form-group">
											<button type = "submit" class = "btn btn-danger">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div> <!-- /. modal-add-lesson -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-inverse text-gray-700"><span>Lessons</span>
								<button type = "button" class = "btn btn-outline-danger float-right" data-toggle = "modal" data-target = "#modal-add-lesson"><i class = "fa fa-plus"></i> Add Lesson</button>
							</h5>
							
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Course</th>
                                            <th>Lesson Number</th>
                                            <th>Lesson Details</th>                                           
                                            <th>Options</th>
                                        </tr>
                                    </thead>                                   
									
                                    <tbody>                                     
										
										{% for ll in lesson_list %}
										
										 <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>									
												
												{% get_course_name_by_id ll.course_id courselist %}
												
											</td>
											
                                            <td>
												{{ ll.lesson_number }}
											</td>
											
                                            <td>
												Lesson Details
											</td>
                                          
                                            <td>
											
												<button type = "button" class = "btn btn-success" data-toggle = "modal" data-target = "#modal-edit-lesson-{{ ll.id }}">Edit Lesson</button>
												<button type = "button" class = "btn btn-success" data-toggle = "modal" data-target = "#modal-add-lesson-detail-{{ ll.id }}">Add Lesson Detail</button>
												
												<div class = "modal fade in" id = "modal-edit-lesson-{{ ll.id }}">
													<div class = "modal-dialog">
														<div class = "modal-content">
															<div class = "modal-header">
																<h2 class = "text-uppercase font-weight-bold"> Edit Lesson </h2>
															</div>
															<div class = "modal-body">
																<h3>
																	Lesson
																</h3>
															</div>
														</div>
													</div>
												</div>
												
												<div class = "modal fade in" id = "modal-add-lesson-detail-{{ ll.id }}">
													<div class = "modal-dialog">
														<div class = "modal-content">
															<div class = "modal-header">
																<h2 class = "text-uppercase font-weight-bold"> Add Lesson Detail </h2>
															</div>
															<div class = "modal-body">
																<form method = "POST" action = "add_lesson_detail">
																	{% csrf_token %}
																	<input type = "hidden" name = "lesson_id" value = "{{ ll.id }}"/>																	
																	<input type = "hidden" name = "course_details" value = "{% get_course_details ll.course_id courselist %}"/>																	
																	<div class = "form-group">
																		<label for = "label">For {% get_course_details ll.course_id courselist %}</label>
																	</div>
																	<div class = "form-group">
																		<label for = "label">Lesson Detail</label>
																		<input type = "text" class = "form-control" name = "lesson_detail" placeholder = "Lesson Detail" id = "label"/>
																	</div>
																	<div class = "form-group">
																		<button type = "submit" class = "btn btn-danger">Save</button>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
												
											
											</td>
                                        </tr>
																				
												
										{% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% endblock %}