
				{% extends 'admin_page/base.html' %}
				{% block body %}
				{% load static %}
				{% load admin_templatetags %}
				
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900 font-weight-bold">
					
						Rooms
						
					</h1>
					
						
											
					<div class = "modal fade in" id = "modal-add-room">
						<div class = "modal-dialog">
							<div class = "modal-content">
								<div class = "modal-header">
									<h2 class = "text-uppercase font-weight-bold"> Add New Room </h2>
								</div>
								<div class = "modal-body">
									<form method = "POST" action  = "add_room">
										{% csrf_token %}
										
										<div class = "form-group">
											<label for = "label">Building/Venue</label>
											<input type = "text" id = "label" class = "form-control" placeholder = "Building/Venue" name = "building"/>
										</div>
										
										<div class = "form-group">
											<label for = "label">Room Name</label>
											<input type = "text" id = "label" class = "form-control" placeholder = "Room Name" name = "room_name"/>
										</div>
										
										<div class = "form-group">
											<label for = "label">Room No</label>
											<input type = "text" id = "label" class = "form-control" placeholder = "Room No." name = "room_no"/>
										</div>				
										
										<div class = "form-group">
											<label for = "label">Floor</label>
											<input type = "text" id = "label" class = "form-control" placeholder = "Floor" name = "floor"/>
										</div>
										
										<div class = "form-group">																		
											<button class = "btn btn-success" type = "submit" role = "button">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div> <!-- modal fade in modal-add-room -->
											
											
											
				
				
                    <p class="mb-4">
						List of All Rooms
					</p>
					
					{% for msg in messages %}
						<h3 class = "alert alert-{{ msg.tags }} alert-dismissible " role = "alert">
							{{ msg }}
							<button type = "button" class = "btn btn-inverse" data-dismiss = "alert" aria-label = "close"><span aria-hidden = "true">&times;</span></button>
						</h3>
					{% endfor %}					
					
					  
					<!-- Rooms Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							Rooms
							
							<a href="#" class="d-none d-sm-inline-block btn btn-lg btn-danger float-right shadow-sm" data-toggle = "modal" data-target = "#modal-add-room">
								<i class="fas fa-plus fa-sm text-white-50"></i> Add Room
							</a>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>#</th>                                           
											<th>Room Name</th>                                            
											<th>Room No.</th>                                            
											<th>Building/Venue</th>                                            
											<th>Floor</th>
											<th>Status</th>											
											<th>Added By</th>
											<th>Options</th>
										</tr>
									</thead>                                  
									
									<tbody>                                     
										
										{% for rl in rooms_list %}
										
										 <tr>
											<td> {{ forloop.counter }} </td>
										  
											<td>
											   {{ rl.room_name }}
											</td>     
											
											<td>
												{{ rl.room_no }}
											</td>
											
											<td>
												{{ rl.building }}
											</td>  											
											
											<td>								
												{{ rl.floor }}										
											</td>
											
											<td>					
												{% label_status rl.status %}
											</td>			                                                                       
											
											<td>											
										
												{% get_username rl.added_by auth_userlist %}
											
											</td>                                           
										  
											<td>
											
												<button type = "button" class = "btn btn-success" data-toggle = "modal" data-target = "#modal-edit-room-{{ rl.id }}">Edit</button>
																		
											</td>
										</tr>
										
										{% endfor %}
										
									</tbody>
								</table>
							</div>
						</div>
					</div> <!-- card-shadow -->					
					
									
					 
					
							
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% endblock %}