
				{% extends 'student_page/base.html' %}
				{% block body %}
				{% load static %}
				{% load admin_templatetags %}
				{% load humanize %}
				
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900 font-weight-bold">Appointments</h1>
					
                    <p class="mb-4">
						Lesson Appointments
					</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-inverse text-gray-700">List of Appointments</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Day</th>     
											<th>Time Schedule</th>	
                                            <th>Room</th>                                            
                                            <th>Batch Code</th>                                            
                                            <th>Course Batch</th>											
											<th>Instructor</th>                                            
                                        </tr>
                                    </thead>                                   
									
                                    <tbody>                                     
										
										{% for atl in attendance_list %}
										
										 <tr>
                                            <td>
											
												{{ forloop.counter }}
											
											</td>
											
											<td>											
												{% get_scheduled_day_from_ts_appointment_id atl.time_schedule_appointment_id appointment_list timeschedule_list %}
											</td> 
											
											<td>											
												{% get_time_schedule_from_ts_appointment_id atl.time_schedule_appointment_id appointment_list timeschedule_list %}
											</td> 
											
											<td>											
												{% get_room_from_ts_appointment_id atl.time_schedule_appointment_id appointment_list timeschedule_list room_list %}
											</td> 
											
                                            <td>											
												
												{% get_batch_details_from_ts_appointment_id atl.time_schedule_appointment_id appointment_list timeschedule_list %}
											
											</td>                                          
                                            <td>											
												
												{% get_batch_course_from_ts_appointment_id atl.time_schedule_appointment_id appointment_list timeschedule_list course_list %}
											
											</td> 				
											
											
											<td>	
											
												{% get_instructor_from_ts_appointment_id atl.time_schedule_appointment_id appointment_list timeschedule_list instructor_list %}
											
											</td> 
											
                                            <td class = "d-none">
											
												<button type = "button" class = "btn btn-success d-none" data-toggle = "modal" data-target = "#modal-edit-student-{{ users.id }}">Edit</button>
												
												<div class = "modal fade in" id = "modal-edit-student-{{ users.id }}">
													<div class = "modal-dialog">
														<div class = "modal-content">
															<div class = "modal-header">
																<h2 class = "text-uppercase font-weight-bold"> {{ users.lastname }}, {{ users.firstname }} </h2>
															</div>
															<div class = "modal-body">
																<form method = "POST" action  = "admin_page/add_user">
																	{% csrf_token %}
																	<div class = "form-group">
																		<label id = "firstname">First Name</label>
																		<input type = "text" id = "firstname" value = "{{ users.user_firstname }}" class = "form-control" placeholder = "First Name" name = "user_firstname"/>
																	</div>
																	<div class = "form-group">
																		<label id = "lastname">Last Name</label>
																		<input type = "text" id = "lastname" value = "{{ users.user_lastname }}" class = "form-control" placeholder = "Last Name" name = "user_lastname"/>
																	</div>
																	<div class = "form-group">																		
																		<button class = "btn btn-success" type = "submit" role = "button">Save</button>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
												
											
											</td>
                                        </tr>
										
										{% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% endblock %}