
				{% extends 'student_page/base.html' %}
				{% block body %}
				{% load static %}
				
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900 font-weight-bold">Driving Guidelines</h1>
					
                    <p class="mb-4">
						Complete Driving Guidelines
					</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-inverse text-gray-700">Read All Driving Guidelines Carefully</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
										
                                            <th>#</th>
                                            <th>Lesson</th>
                                            <th>Details</th>
                                          
                                        </tr>
                                    </thead>                                  
									
                                    <tbody>                                     
										
										{% for users in userlist %}
										
										 <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ users.lastname }}, {{ users.firstname }}</td>
                                            <td>Details</td>
                                           
                                            <td class = "d-none">
											
												<button type = "button" class = "btn btn-success" data-toggle = "modal" data-target = "#modal-edit-student-{{ users.id }}">Edit</button>
												
												<div class = "modal fade in" id = "modal-edit-student-{{ users.id }}">
													<div class = "modal-dialog">
														<div class = "modal-content">
															<div class = "modal-header">
																<h2 class = "text-uppercase font-weight-bold"> {{ users.lastname }}, {{ users.firstname }} </h2>
															</div>
															<div class = "modal-body">
																<form method = "POST" action  = "admin_page/add_user">
																	{% csrf_token %}
																	<div class = "form-group">
																		<label id = "firstname">First Name</label>
																		<input type = "text" id = "firstname" value = "{{ users.user_firstname }}" class = "form-control" placeholder = "First Name" name = "user_firstname"/>
																	</div>
																	<div class = "form-group">
																		<label id = "lastname">Last Name</label>
																		<input type = "text" id = "lastname" value = "{{ users.user_lastname }}" class = "form-control" placeholder = "Last Name" name = "user_lastname"/>
																	</div>
																	<div class = "form-group">																		
																		<button class = "btn btn-success" type = "submit" role = "button">Save</button>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
												
											
											</td>
                                        </tr>
										
										{% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% endblock %}