
				{% extends 'student_page/base.html' %}
				{% block body %}
				{% load static %}
				{% load admin_templatetags %}
				{% load humanize %}
				
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900 font-weight-bold">{{ menu_name }}</h1>
					
                    <p class="mb-4">
						Detailed List of Students Skills Assessments
					</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-inverse text-gray-700">Your Transaction Details</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>                                           
                                            <th>Course</th>
                                            <th>Amount Paid</th>
                                            <th>Balance</th>            
                                            <th>Reference No.</th> 
											<th>Payment Method</th>  
											<th>Payment Term</th>  
                                            
                                        </tr>
                                    </thead>                                   
									
                                    <tbody>                                     
										
										{% for stl in sales_transaction_list %}
										
										 <tr>
                                            <td>{{ forloop.counter }}</td>                                           
                                            <td>											
											
											{% get_course_details_by_enrolment_id stl.enrolment_id enrolment_list course_list %}
											
											</td>
                                            <td>
												PHP {{ stl.amount_paid|floatformat:2 }}
											</td>
                                            <td>
												PHP {{ stl.amount_balance|floatformat:2 }}
											</td>                                           
											<td>
												{{ stl.payment_reference_no }}
											</td>
											<td>											
												{% get_payment_method_by_id stl.payment_method payment_method_list %}
											</td>
											<td>												
												{% get_payment_term stl.payment_term %}
											</td>
                                        </tr>
										
										{% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% endblock %}